<main>
    <div id="productos-container">
        <h1>Home {{mensaje}} </h1>
        <div id="productos-template">
        </div>
    </div>
        <form id="nuevo-producto">
        <label for="titulo">Títle:</label>
        <input type="text" id="titulo" name="title"><br>

        <label for="precio">Price:</label>
        <input type="number" id="precio" name="price"><br>

        <label for="thumbnail">Thumbnail:</label>
        <input type="text" id="thumbnail" name="thumbnail"><br>

        <label for="description">Description</label>
        <input type="text" id="description" name="description"><br>

        <label for="stock">Stock</label>
        <input type="number" id="stock" name="stock"><br>

        <label for="code">Code</label>
        <input type="text" id="code" name="code"><br>

        <label for="category">Category</label>
        <input type="text" id="category" name="category"><br>

        <button type="submit">Crear Producto</button>
    </form>

</main>