body{
    background-color: #f6f6f6;
}

ul li{
    list-style: none;
}

form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px;
}
